<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <strong>ShareBnB</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse theNavBar" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">

        {{#if user}}

         {{#if home}}
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {{/if}} {{#if members}}
        <li class="nav-item active">
          <a class="nav-link" href="hostregister">Become a host</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="hostregister">Become a host</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="signup">Sign up</a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search">Find a space</a>
        </li>

        {{else}}

         {{#if home}}
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {{/if}} {{#if members}}
        <li class="nav-item active">
          <a class="nav-link" href="hostregister">Become a host</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="hostregister">Become a host</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="signup">Sign up</a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search">Find a space</a>
        </li>

        {{/if}}

      </ul>




      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="logout">Log out</a>
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="login">Log in</a>
          </a>
        </li>
        {{/if}}


      </ul>

    </div>
  </div>
</nav>